@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*Font variables*/

.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 33px;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 33px;
}

.open-sans-600 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-700 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 33px;
}

.open-sans-800 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/*End of font variables*/

.container {
    margin-left: 70px;
    margin-right: 70px;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .logo {
        color: #5A717C;
        font-size: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        font-size: 16px;
    }

    .nav-button a {
        margin-left: 40px;
        text-decoration: none;
        color: black;
    }

}

/*Online Presence block styles START*/

.online-presence {
    background: url("../img/online-presence.png");
    background-size: cover;
    height: 568px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.online-presence-title {
    font-size: 80px;
    color: white;
}

.online-presence-text {
    font-size: 56px;
    color: white;
    margin-top: 20px;
}

/*Online Presence block styles END*/


/*Welcome block styles START*/

.welcome {
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    margin-left: 90px;
    margin-right: 210px;
}

.welcome-title {
    font-size: 56px;
    color: #C3DCE8;
}

.welcome-text {
    font-size: 18px;
    color: black;
    margin-top: 20px;
}

/*Welcome block styles END*/

/*Services styles START*/

.services {
    display: grid;
    width: 100%;
    gap: 92px;
    margin-top: 92px;
}

.service-card {
    display: flex;
    flex-direction: column;
    padding: 70px ;
    background: #F3FBFF;
    img {
        width: 100px;
        height: 100px;
    }
}

.service-title {
    font-size: 30px;
    color: #5A717C;
    margin-top: 20px;
}

.service-text {
    font-size: 18px;
    color: #5A717C;
    margin-top: 20px;
}

@media (min-width: 1401px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 1400px) {
    .services {
        grid-template-columns: 1fr;
    }
    .service-card {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*Services styles END*/

/*Contact Us styles START*/

.why-choose {
    margin-top: 92px;
    padding-left: 90px;
    padding-right: 78px;
    padding-top: 88px;
    background-image: url("../img/contactUs.png");
    background-size: cover;
    height: 816px;
    .why-choose-title {
        font-size: 56px;
        color: white;
    }

    .why-choose-text-card-container {
        margin-top: 66px;
        display: grid;
        gap: 66px;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose-text-card {
        color: white;
        font-size: 18px;
    }
    .why-choose-subtitle {
        margin-top: 66px;
        color: white;
        font-size: 18px;
    }
}

@media (min-width: 1401px) {
    .services {

    }
}


@media (max-width: 1400px) {
    .services {

    }

}

/*Contact Us styles END*/

/*Footer styles START*/

footer {
    height: 136px;
    margin-top: 65px;
    padding-left: 70px;
    padding-right: 70px;
    background: #495358;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-connect {
        font-size: 42px;
        color: white;
    }

    a {
        font-size: 22px;
        text-decoration: underline;
        color: white;
    }
}

/*Footer styles END*/











