@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*Font variables*/

.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 33px;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 33px;
}

.open-sans-600 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-700 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 33px;
}

.open-sans-800 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/*End of font variables*/

header {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1400px) {
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 744px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo {
    color: #0057B7;
    font-size: 20px;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

@media (max-width: 1400px) {
    .logo {
        font-size: 16px;
    }
}

.white-logo {
    color: white;
    transition: 0.3s ease-in-out;
}

@media (max-width: 744px) {
    header nav {
        display: none;
    }
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 16px;
}

@media (max-width: 1400px) {
    nav ul {
        font-size: 14px;
    }
}

.nav-button a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
}


.burger-menu {
    z-index: 2;
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.burger-menu .bar {
    margin-top: 2px;
    height: 2px;
    width: 20px;
    background-color: #FFDD00;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.burger-menu .bar:first-child {
    margin-top: 0;
}

.burger-menu .bar:nth-child(-n + 2) {
    background-color: #0057B7;
}

.burger-menu.active .bar:first-child {
    transform: translateY(6px) rotate(0deg);
}

.burger-menu.active .bar:nth-child(2),
.burger-menu.active .bar:nth-child(3) {
    opacity: 0;
}

.burger-menu.active .bar:last-child {
    transform: translateY(-6px) rotate(0deg);
}

.mobile-nav {
    z-index: 1;
    display: flex;
    position: fixed;
    background-color: #0057B7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.mobile-nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0;
    margin-top: 90px;
}

.mobile-nav ul li a {
    font-size: 32px;
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
    transition: color 0.3s ease;
}

.mobile-nav ul li a:hover {
    color: white;
}

.mobile-nav:not(.hidden) {
    transform: translateX(0);
}

.mobile-nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-left: 26px;
}

.footer-connect {
    font-size: 26px;
    color: white;
}

.mobile-nav-footer a {
    font-size: 22px;
    text-decoration: underline;
    color: white;
}

@media (max-width: 744px) {
    .burger-menu {
        display: flex;
    }

    nav {
        display: none;
    }
}

/*Online Presence block styles START*/

.online-presence {
    position: relative;
    height: 700px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.online-presence::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 87, 183, 0.6);
    z-index: 1;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-height: 700px;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.online-presence-content {
        position: relative;
        z-index: 2;
}



@media (max-width: 1400px) {
    .online-presence {
        height: 414px;
        padding-left: 0;
    }
}

@media (max-width: 744px) {
    .online-presence {
        padding-left: 28px;
        padding-right: 28px;
    }
}

.online-presence-title {
    font-size: 80px;
    color: white;
}

.yellow-divider {
    display: block;
    background-color: #FFDD00;
    height: 8px;
    width: 308px;
    margin-top: 26px;
    margin-bottom: 26px;
}

@media (max-width: 1400px) {
    .online-presence-title {
        font-size: 50px;
    }
}

@media (max-width: 744px) {
    .online-presence-title {
        font-size: 40px;
    }
}

.online-presence-text {
    font-size: 56px;
    color: white;
    margin-top: 20px;
}

@media (max-width: 1400px) {
    .online-presence-text {
        font-size: 30px;
    }
}

@media (max-width: 744px) {
    .online-presence-text {
        font-size: 26px;
    }
}

/*Online Presence block styles END*/


/*Welcome block styles START*/

.welcome {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1400px) {
    .welcome {
        margin-top: 49px;
        margin-left: 0;
        margin-right: 0;
    }
}

.welcome-title {
    font-size: 46px;
    color: #5A717C;
}

.grey-divider {
    background-color: #5A717C;
    height: 3px;
    width: 218px;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (max-width: 1400px) {
    .welcome-title {
        font-size: 34px;
    }
}

.welcome-text {
    text-align: center;
    font-size: 16px;
    color: black;
    line-height: 33px;
}

@media (max-width: 1400px) {
    .welcome-text {
        font-size: 16px;
        line-height: 26px;
    }
}

/*Welcome block styles END*/

/*Services styles START*/

.services {
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    /*width: 100%;*/
    margin-top: 92px;
}

@media (min-width: 1401px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    .services {
        grid-template-columns: 1fr;
        gap: 0;
        margin-top: 19px;
    }
}

.service-card {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background: #F3FBFF;

    img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1400px) {
    .service-card {
        width: auto;
        padding: 50px;
        margin-top: 30px;
    }
}

@media (max-width: 744px) {
    .service-card {
        width: auto;
        padding: 26px;
        margin-top: 20px;
    }
}

.service-title {
    font-size: 30px;
    color: #5A717C;
    margin-top: 20px;
}

@media (max-width: 744px) {
    .service-title {
        font-size: 24px;
    }
}

.service-text {
    font-size: 18px;
    color: #5A717C;
    margin-top: 20px;
}

/*Services styles END*/

/*Why Choose styles START*/

.why-choose {
    margin-top: 92px;
    background: url("../static/contactUs.webp") center center;
    background-size: cover;
    padding: 88px 78px 100px 90px;
}

@media (max-width: 1400px) {
    .why-choose {
        padding: 50px 50px 100px 50px;
        margin-top: 60px;
    }
}

@media (max-width: 744px) {
    .why-choose {
        padding: 26px;
        margin-top: 30px;
    }
}

.why-choose-title {
    font-size: 56px;
    color: white;
}

@media (max-width: 744px) {
    .why-choose-title {
        line-height: 32px;
        font-size: 24px;
    }
}

.why-choose-text-card-container {
    margin-top: 66px;
    display: grid;
    gap: 66px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1400px) {
    .why-choose-text-card-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media (max-width: 744px) {
    .why-choose-text-card-container {
        margin-top: 26px;
    }
}


.why-choose-text-card {
    width: 90%;
    color: white;
    font-size: 18px;
}

@media (max-width: 1400px) {
    .why-choose-text-card {
        width: 100%;
        margin-top: 36px;
    }
}

@media (max-width: 744px) {
    .why-choose-text-card {
        margin-top: 10px;
    }
}

.why-choose-subtitle {
    margin-top: 66px;
    color: white;
    font-size: 18px;
}


/*Contact Us styles END*/

/*Footer styles START*/

footer {
    height: 136px;
    margin-top: 65px;
    padding-left: 70px;
    padding-right: 70px;
    background: #495358;
    display: flex;
    align-items: center;
    justify-content: space-between;
}@media (max-width: 744px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        padding-right: 0;
        padding-left: 26px;
        margin-top: 36px;
    }
}
    footer .footer-connect {
        font-size: 42px;
        color: white;
    }@media (max-width: 744px) {
    footer .footer-connect {
        font-size: 26px;
    }
}

footer a {
        font-size: 22px;
        text-decoration: underline;
        color: white;
    }@media (max-width: 744px) {
    footer a {
        font-size: 18px;
    }
}

/*Footer styles END*/











